
# /
/*.dvi
/*.fdb_latexmk
/*.fls
/*.log
/*.sdf
/*.suo
/*.tar.gz
/.gdb_history
/.ipynb_checkpoints
/ExtFEMRead.sdf
/ExtFEMRead.v11.suo
/ExtFEMRead.vcxproj
/ExtFEMRead.vcxproj.filters
/ExtFEMRead.vcxproj.user
/ExtFEMRead.vcxproj.vspscc
/GPATH
/GRTAGS
/GTAGS
/PosNDRel_VTune
/PosNDRel_VTune_x64
/ReadMe.tex
/ReadMe.txt
/TAGS
/Untitled.ipynb
/Win32
/aclocal.m4
/auto
/autom4te.cache
/cbuild
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/core
/depcomp
/doxyfile.stamp
/fem_sample
/install-sh
/ipch
/libtool
/linux_x86_64
/ltmain.sh
/missing
/stamp-h
/stamp-h1
/test-driver
/tmp.cpp
/PosDebug_x64
/cbuild_32
/cbuild_64
/cbuild64

# /docs/
/docs/*.aux
/docs/*.bak
/docs/*.fdb_latexmk
/docs/*.fls
/docs/*.idx
/docs/*.log
/docs/*.out
/docs/*.tex
/docs/*.toc
/docs/Doxyfile
/docs/auto
/docs/doxy
/docs/svg-extract
/docs/svg-inkscape

# /docs/asy/
/docs/asy/*.pdf

# /docs/bdf/
/docs/bdf/*.aux
/docs/bdf/*.fdb_latexmk
/docs/bdf/*.fls
/docs/bdf/*.log
/docs/bdf/*.org
/docs/bdf/*.out
/docs/bdf/*.tex
/docs/bdf/*.html
/docs/bdf/*.org
/docs/bdf/*.pdf
/docs/bdf/auto

# /docs/fem/
/docs/fem/*.aux
/docs/fem/*.fdb_latexmk
/docs/fem/*.fls
/docs/fem/*.log
/docs/fem/*.out
/docs/fem/*.tex
/docs/fem/auto

# /m4/
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

# /src/
/src/.deps
/src/Debug_x64
/src/Makefile
/src/Makefile.in
/src/Release_x64
/src/TAGS
/src/bdf2bdf
/src/fem2fem
/src/Win32

# /src/bdf/
/src/bdf/.deps
/src/bdf/.dirstamp
/src/bdf/Debug
/src/bdf/Makefile
/src/bdf/Makefile.in
/src/bdf/TAGS
/src/bdf/app.aps
/src/bdf/bdf2bdf_args.ggo
/src/bdf/bdfreadpp.vcxproj.user
/src/bdf/x64

# /src/fem/
/src/fem/.deps
/src/fem/.dirstamp
/src/fem/fem2fem_args.ggo

# /tests/
/tests/*.log
/tests/*.trs
/tests/*.user
/tests/.deps
/tests/Debug
/tests/Makefile
/tests/Makefile.in
/tests/TAGS
/tests/bdf_bounds
/tests/bdf_cards
/tests/bdf_float
/tests/bdf_int
/tests/bdf_list
/tests/bdf_str
/tests/bdf_types
/tests/core
/tests/extfem_string
/tests/fem_bool
/tests/fem_cards
/tests/fem_elements
/tests/fem_float
/tests/fem_int
/tests/fem_list
/tests/test_*.ju
/tests/test_*_junit.xml
/tests/test_bdf_bounds
/tests/test_bdf_cards
/tests/test_bdf_complx
/tests/test_bdf_float
/tests/test_bdf_header
/tests/test_bdf_int
/tests/test_bdf_list
/tests/test_bdf_str
/tests/test_bdf_types
/tests/test_extfem_string
/tests/test_fem_bool
/tests/test_fem_cards
/tests/test_fem_elements
/tests/test_fem_float
/tests/test_fem_int
/tests/test_fem_list
/tests/testing
/tests/testing_bdf
/tests/x64
/tests/bdf_complx
/tests/testing_fem
/tests/bdf_header
