# global
**/*.a
**/*.sdf
**/*.v11.suo
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
**/*.vcxproj.vspscc
**/.deps
**/.dirstamp
**/CMakeCache.txt
**/CMakeFiles
**/CTestTestfile.cmake
**/Debug
**/Debug_x64
**/Makefile
**/Makefile.in
**/PosDebug_x64
**/PosNDRel_VTune
**/PosNDRel_VTune_x64
**/Release_x64
**/TAGS
**/Win32
**/cmake_install.cmake
**/core

# /
/*.dvi
/*.fdb_latexmk
/*.fls
/*.log
/*.tar.gz
/.gdb_history
/.ipynb_checkpoints
/CMakeDoxyfile.in
/CMakeDoxygenDefaults.cmake
/CMakeFiles
/DartConfiguration.tcl
/GPATH
/GRTAGS
/GTAGS
/ReadMe.tex
/ReadMe.txt
/TAGS
/Testing
/Untitled.ipynb
/Win32
/aclocal.m4
/auto
/autom4te.cache
/cbuild
/cbuild64
/cbuild_32
/cbuild_64
/compile
/compile_commands.json
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/doxyfile.stamp
/fem_sample
/install-sh
/ipch
/libtool
/linux_x86_64
/ltmain.sh
/missing
/stamp-h
/stamp-h1
/test-driver
/tmp.cpp

# /docs/
/docs/*.aux
/docs/*.bak
/docs/*.fdb_latexmk
/docs/*.fls
/docs/*.idx
/docs/*.log
/docs/*.out
/docs/*.tex
/docs/*.toc
/docs/Doxyfile
/docs/auto
/docs/doxy
/docs/svg-extract
/docs/svg-inkscape

# /docs/asy/
/docs/asy/*.pdf

# /docs/bdf/
/docs/bdf/*.aux
/docs/bdf/*.fdb_latexmk
/docs/bdf/*.fls
/docs/bdf/*.log
/docs/bdf/*.org
/docs/bdf/*.out
/docs/bdf/*.tex
/docs/bdf/*.html
/docs/bdf/*.org
/docs/bdf/*.pdf
/docs/bdf/auto

# /docs/fem/
/docs/fem/*.aux
/docs/fem/*.fdb_latexmk
/docs/fem/*.fls
/docs/fem/*.log
/docs/fem/*.out
/docs/fem/*.tex
/docs/fem/auto

# /m4/
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

# /src/
/src/bdf2bdf
/src/fem2fem

# /src/bdf/
/src/bdf/app.aps
/src/bdf/bdf2bdf_args.ggo
/src/bdf/x64

# /src/fem/
/src/fem/fem2fem
/src/fem/fem2fem_args.ggo

# /tests/
/tests/*.log
/tests/*.trs
/tests/*.user
/tests/bdf_bounds
/tests/bdf_cards
/tests/bdf_complx
/tests/bdf_float
/tests/bdf_header
/tests/bdf_int
/tests/bdf_list
/tests/bdf_str
/tests/bdf_types
/tests/extfem_string
/tests/fem_bool
/tests/fem_cards
/tests/fem_elements
/tests/fem_float
/tests/fem_int
/tests/fem_list
/tests/test_*.ju
/tests/test_*_junit.xml
/tests/test_bdf_bounds
/tests/test_bdf_cards
/tests/test_bdf_complx
/tests/test_bdf_float
/tests/test_bdf_header
/tests/test_bdf_int
/tests/test_bdf_list
/tests/test_bdf_str
/tests/test_bdf_types
/tests/test_extfem_string
/tests/test_fem_bool
/tests/test_fem_cards
/tests/test_fem_elements
/tests/test_fem_float
/tests/test_fem_int
/tests/test_fem_list
/tests/test_support_grouping
/tests/testing
/tests/testing_bdf
/tests/testing_fem
/tests/x64

# /tools
/tools/__pycache__
